*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.next.disabled{
    pointer-events: none;
    color: red;
}

body{
    background-image: linear-gradient(to bottom, #7b4eef, #6c677b);
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.exam__content{
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 50px 0;

}

.exam__brand h6{
    font-weight: bold !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.exam__questions {
    width: 100%;
    background-color: #fcfbfc;
    margin-top: 20px;
    padding: 30px 50px;
}

.vertical__line{
    height: 50px;
    width: 3px;
    background-color: #aca8ac;
    margin: 5px 15px;
}

.exam__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25px;
}

.student_photo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.student_photo:hover{
    color: #fff;
    box-shadow: none;
}

.exam__details{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#subject_name {
    position: absolute;
    left: 30%;
    width: 211px;
    background-color: #ddd;
    border-radius:5px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  
  #myBar {
    width: 0%;
    height: 10px;
    background-color: #04AA6D;
    border-radius:50px;
  }

  .question__number h6{
      font-weight: bold;
      opacity: 70%;
  }
  .question__text{
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .question__passage{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  @media (max-width:767px) {
      #subject_name{
          display: none;
      }

      .exam__nav{
        margin: 0 0;
      }
      .exam__brand{
          margin-top: 18px !important;
      }
      .exam__questions{
        padding: 10px 8px;
    }
  }

  @media (max-width:476px) {
      .exam__questions{
          padding: 3px 5px;
      }
  }


  .options{
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
  }
  .option{
      height: 100%;
      margin: 5px 15px;
      padding: 5px 15px;
      background-color: transparent;
      border: 1px solid #aca8ac;
      width: 100%;
      display: flex;
      justify-content: space-between;
  }


  .option.active{
      background-color: red;
  }

  .trackers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
    margin-top: 15px;
    padding: 15px 15px;
    margin: 0 auto;
    justify-content: center;
  }
  .box {
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #7b4eef;
    border-radius: 5px;
  }

  .box.checked{
    background-color: #04AA6D;
  }
  
  .box:hover {
    color: #f9f9f9;
  }

  img.hidden{
    display: none;
  }

  img.shown{
    height: 50px;
    width: 150px;
  }
  .submit-btn{
    padding: 5px 15px;
    border-radius: 5px;
  }

  footer{
    padding-bottom: 0;
    margin-bottom: 0;
  }